.form{
  justify-content: center;
  align-items: center;
height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center ;
  flex-wrap: wrap;
}

.form input, textarea, select{
    margin: 10px;
}