.notDone {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    max-width: 600px;
    width: 100%;

    margin: 0 auto;


    border: 1px solid #007bff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    margin-top: 1rem;
    padding: 0px;

}

.done {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    max-width: 600px;
    width: 100%;

    margin: 0 auto;


    border: 1px solid #007bff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    margin-top: 1rem;
    padding: 0px;


}
.done p:not(.check)  { 
    text-decoration: line-through; 
}

.top {
    text-align: center;
    margin: 0;
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(10px);

    border-radius: 8px;
    display:flex;
    justify-content: space-between;
    padding: 0.2rem;
    text-transform: uppercase;
    font-size: larger;
}

.fullWidth {
    grid-column: span 2;
    text-align: center;
}

.icon{
    justify-content: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
    font-size: larger;
    padding-top: 1rem;
    padding-bottom: 1dvh;
    
}

.text{
    margin-top: auto;
    margin-bottom: auto;
    justify-content: left;
    margin-left: 1rem;
}

.check{
    text-decoration: none;
    display: inline-block;
}

.theme{
    font-size: xx-large;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.warning{
    font-size:xx-large;
    margin-top: 0px;
    margin-bottom: 0px;
    color: red;
}
.notwarning{
    display: none;
    
}